@model OgrenciNotMvc.Models.EntityFramework.TBLOGRENCİLER
@{
    ViewBag.Title = "OgrenciEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("OgrenciEkle", "OgrenciListesi", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        <label>Ogrenci Adi</label>
        @Html.TextBoxFor(m => m.OGRAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OGRAD, "", new { @style = "color:red" })

    </div>

    <div>
        <label>Ogrenci Soyad</label>
        @Html.TextBoxFor(m => m.OGRSOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OGRSOYAD, "", new { @style = "color:red" })

    </div>



    @TempData["result"] //Dosya upload sonucu burada yazacak.
    <div>
        <input type="file" name="file" class="button" />
        <input type="submit" value="Gönder" class="button" />

    </div>

    <div>
        <label>Ogrenci Cinsiyeti</label>

        @Html.DropDownList("OGRCİNSİYET",

         new[]
         {
            new SelectListItem() {Value="Erkek", Text="Erkek"},
            new SelectListItem() {Value="Bayan", Text = "Bayan"}
         }

         , "Cinsiyet Seçiniz...", new { @class = "form-control" })

        <br />
        @Html.ValidationMessageFor(m => m.OGRCİNSİYET, "", new { style = "color:red" })

    </div>

    <div>
        <label>Ogrenci Kulüp</label>
        @Html.DropDownList("secilenKulup", (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })


    </div>



    <div style="margin-top:10px">
        <button class="btn btn-info" type="submit">Kaydet</button>

    </div>
}